<!doctype html>
<html>
	<head>
	<title> new document </title>
		<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<base target=_blank></base>
		<script src="../apps/marmot.php" data--opts="{server:'http://log008.ku6.com/log.php'}"></script>
	</head>

	<body>
	<button class="marmot" data--marmot="{logger:123}">Log</button>
	<button class="marmot" data--marmot="{logger:456}" data--disMarmot="0">Log_Once</button>
	
	<script type="text/marmot">
		{a:1,abc:"123"}
	</script>

	</body>
</html>

