/**/
.tishi_A{border:1px solid #daecce; border-radius:3px; background:#f3f8ef; height:29px; line-height:29px; color:#000; margin:5px;}
.tishi_A p{display:inline; float:left; width:19px; height:19px; background:url(tishi_three.gif) -29px 0 no-repeat; margin:5px 8px 0; padding:0; }
.tishi_A span{display:block; float:left; line-height:29px; height:29px;}
.tishi_A a{display:inline; width:12px; height:12px; background:url(tishi_three.gif) -100px 0 no-repeat; float:right; margin:8px 8px 0;}
.tishi_A a:hover{background:url(tishi_three.gif) -86px 0 no-repeat;}
.tishi_B{border-color:#fddfda; background:#f8e8e5;}
.tishi_B p{background:url(tishi_three.gif) 0 0 no-repeat;}
.tishi_C{border-color:#fbeeca; background:#f7f1e0;}
.tishi_C p{background:url(tishi_three.gif) -58px 0 no-repeat;}
