<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!--STATUS OK-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>我关注的收藏_我的首页_我喜欢</title>
<link href="../../../apps/assets/base.css" rel="stylesheet" type="text/css" media="screen"/>
<style>
#doc {margin:0 auto;}
.backwater {
    display: none;
}
.con-fall {
    position: relative;
	text-align:left;
}
.con-fall .water {
    position: absolute;
}
.p-cell {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 1px 3px #eee;
    width: 220px;
}
.p-cell p {
	padding:15px;
	border:1px #eee solid;
}
.loading {
	padding:10px;
	margin:10px 0 50px;
	text-align:center;
	border:1px #eee solid;
	border-width:1px 0;
    margin-top: 10px;
	font-size:14px;
	font-weight:bold;
	color:#333;
	background:#f5f5f5;
}
</style>
<script type="text/javascript" src="../../../apps/qwrap.src.js"></script>
<script type="text/javascript" src="../waterfall.js"></script>
</head>
<body>
<div id="doc">
	<div id="waterfall" class="con-fall" style="height: 1847px; ">
		<div id="bookmark_1330487303081689" class="p-cell cellItem backwater">
		<p>.Infinity Invaderz 手表——这款金属手表以黑色和绿色网格为背景，由于没有指针，所以时针和分针分别由两颗蓝色的LED灯替代。观看时间时，你需要按下表盘侧面的按钮，蓝色LED灯就会先为你展示一段小动画，随后再告诉你准确的时间或日期。</p>
		</div>
		<div id="bookmark_1330487303081689" class="p-cell cellItem backwater">
		<p>.Infinity Invaderz 手表——这款金属手表以黑色和绿色网格为背景，由于没有指针，所以时针和分针分别由两颗蓝色的LED灯替代。观看时间时，你需要按下表盘侧面的按钮，蓝色LED灯就会先为你展示一段小动画，随后再告诉你准确的时间或日期。</p>
		</div>
		<div id="bookmark_1330487303081689" class="p-cell cellItem backwater">
		<p>.Infinity Invaderz 手表——这款金属手表以黑色和绿色网格为背景，由于没有指针，所以时针和分针分别由两颗蓝色的LED灯替代。观看时间时，你需要按下表盘侧面的按钮，蓝色LED灯就会先为你展示一段小动画，随后再告诉你准确的时间或日期。</p>
		</div>
		<div id="bookmark_1330487303081689" class="p-cell cellItem backwater">
		<p>
		.Infinity Invaderz 手表——这款金属手表以黑色和绿色网格为背景，由于没有指针，所以时针和分针分别由两颗蓝色的LED灯替代。观看时间时，你需要按下表盘侧面的按钮，蓝色LED灯就会先为你展示一段小动画，随后再告诉你准确的时间或日期。.Infinity Invaderz 手表——这款金属手表以黑色和绿色网格为背景，由于没有指针，所以时针和分针分别由两颗蓝色的LED灯替代。观看时间时，你需要按下表盘侧面的按钮，蓝色LED灯就会先为你展示一段小动画，随后再告诉你准确的时间或日期。</p>
		</div>
		<div id="bookmark_1330487303081689" class="p-cell cellItem backwater">
		<p>.Infinity Invaderz 手表——这款金属手表以黑色和绿色网格为背景，由于没有指针，所以时针和分针分别由两颗蓝色的LED灯替代。观看时间时，你需要按下表盘侧面的按钮，蓝色LED灯就会先为你展示一段小动画，随后再告诉你准确的时间或日期。</p>
		</div>
		<div id="bookmark_1330487303081689" class="p-cell cellItem backwater">
		<p>.Infinity Invaderz 手表——这款金属手表以黑色和绿色网格为背景，由于没有指针，所以时针和分针分别由两颗蓝色的LED灯替代。观看时间时，你需要按下表盘侧面的按钮，蓝色LED灯就会先为你展示一段小动画，随后再告诉你准确的时间或日期。.Infinity Invaderz 手表——这款金属手表以黑色和绿色网格为背景，由于没有指针，所以时针和分针分别由两颗蓝色的LED灯替代。观看时间时，你需要按下表盘侧面的按钮，蓝色LED灯就会先为你展示一段小动画，随后再告诉你准确的时间或日期。.Infinity Invaderz 手表——这款金属手表以黑色和绿色网格为背景，由于没有指针，所以时针和分针分别由两颗蓝色的LED灯替代。观看时间时，你需要按下表盘侧面的按钮，蓝色LED灯就会先为你展示一段小动画，随后再告诉你准确的时间或日期。</p>
		</div>
	</div>
</div>
<div><button type="button" id="loaddata">加载内容</button></div>
<div id="loading" class="loading" style="display:none;"><p>加载中......</p></div>
<script type="tpl" id="tpl">
<div id="bookmark_1327549570088894" class="p-cell cellItem nofavorite backwater" data-bid="1327549570088894" data-uid="20528618" data-btype="3" data-url="fd440ef1fb1d319323c99e8d29e5c9c4" data-viewtype="2">
	<div class="pic">
		<a href="#" target="_blank">
			<img  width="192" alt="{$title}" src="http://farm{$farm}.static.flickr.com/{$server}/{$id}_{$secret}_m.jpg" data-pinit="registered">
		</a>
		<span class="func" style="display: none; ">
			<a class="larger seeLarger" title="放大图片" href="#">放大</a>
			<a href="#" class="add_public like">我喜欢</a>
			<a href="#" class="add_privacy lock">私藏</a>
			<a href="#" class="to_public">公开</a>
			<a href="#" class="to_privacy">私藏</a>
		</span>
		<span class="sc"></span>
	</div>
	<h3>{$title}</h3>
	<p class="p-2"><span class="f_r"><a target="_blank" href="/20528618/1327549570088894.shtml#comment">评论(0)</a></span>3人喜欢</p>
	<p class="p-1"><a href="/20528618" target="_blank"><img src="http://u1.qhimg.com/qhimg/quc/50_50/2b/02/cf/2b02cfq338a.851f44.jpg" width="30" height="30"></a><span class="cont"><a href="/20528618" target="_blank">双峰镇</a>的专辑：<a href="/album/20528618/1389332133526161.shtml" class="ofAlbum" data-album-name="最强改装车">最强改装车</a></span></p>
</div>	
</script>

<script>
window.page = 0;
function loadData(){
	Ajax.request('get', 'data.html', {}, function(data) {
		window.page += 1;
		if(window.console && window.console.log)
			console.log(window.page);
		W('#waterfall').insertAdjacentHTML("beforeend", data);
		WaterFall.stream();
		W('#loading').hide();
	}, {});
}
window.onscroll = window.onresize = function() {
  var B = Dom.getDocRect();
  if (B.scrollHeight - B.scrollY - B.height < 10 ) {
    if(window.console && window.console.log)
		console.log(B.scrollHeight - B.scrollY - B.height);
	W('#loading').show();
	setTimeout(function(){
		loadData();
	},1000);
	
  }
};
W('#loaddata').on('click',function(e){
	e.preventDefault();
	W('#loading').show();
	setTimeout(function(){
		loadData();
	},1000);
});
function countWFSize(){
	var cols=WaterFall.deft.blkCols,
		bodyWid = document.documentElement.clientWidth;
	if(bodyWid < 1170){
		if(cols != 4){
			W('#doc').css({
				'width':'933px',
				'min-width' : '933px'
			},true);
			WaterFall.conf({'blkCols':4});
		}
	}else if(bodyWid < 1407){
		if(cols != 5){
			W('#doc').css('width','1170px');
			WaterFall.conf({'blkCols':5});
		}
	}else if(bodyWid < 1644){
		if(cols != 6){
			W('#doc').css('width','1407px');
			WaterFall.conf({'blkCols':6});
		}
	}else if(bodyWid < 1881){
		if(cols != 7){
			W('#doc').css('width','1644px');
			WaterFall.conf({'blkCols':7});
		}
	}else{
		if(cols != 8){
			W('#doc').css('width','1881px');
			WaterFall.conf({'blkCols':8});
		}
	}
}

Dom.ready(function(){
	countWFSize();
	WaterFall.conf({
		'container' : '#waterfall',
		'block' : '#waterfall>div',
		'blkWidth' :222,
		'blkRight' : 15,
		'blkBottom' : 15
	});
	(function(){
		var timer_resize = null;
		window.onresize = function(){
			if(!timer_resize){
				timer_resize = setTimeout(function(){
					countWFSize();
					timer_resize = null;
				},400)
			}
		}
	})();
});
</script>
</body>
</html>